<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>贵州南方大数据可视化</title>

    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/fonts/icomoon.css">

</head>

<body>
    <div class="viewport">
        <div class="column">
            <!-- 左上角面板，订单数量和销售总量 采用 路由传递模板,需要定期更换-->
            <div class="overview panel">
                <div class="inner">
                    <div class="item">
                        <h4>2022-10</h4>
                        <span>
                            <i class="icon-dot" style="color: #006cff"></i>
                            当前时间
                        </span>
                    </div>
                    <div class="item">
                        <h4><%=total['count(*)']%></h4>
                        <span>
                            <i class="icon-dot" style="color: #efe39f"></i>
                            订单数量(条)
                        </span>
                    </div>
                    <div class="item">
                        <h4><%=(total['sum(count)']/10000).toFixed(0)%>万</h4>
                        <span>
                            <i class="icon-dot" style="color: #6acca3"></i>
                            销售总量
                        </span>
                    </div>
                </div>
            </div>
            <!--左侧居中面板,采用 路由数据 传递 模板,需要定期更换-->
            <div class="monitor panel">
                <div class="inner">
                    <div class="tabs">
                        <a href="javascript:;" data-index="0" class="active">前50大客户</a>
                    </div>
                    <div class="content" style="display: block;">
                        <div class="head">
                            <span class="col">客户排名</span>
                            <span class="col">客户名称</span>
                            <span class="col">奶品数量</span>
                            <span class="col">总价税合计</span>
                        </div>
                        <div class="marquee-view">
                            <div class="marquee">
                                <%for(var i=0;i<arrangement.length;i++ ) {  %>
                                <div class="row">
                                    <span class="col"><%=i+1%></span>
                                    <span class="col"><%=arrangement[i]['guest']%></span>
                                    <span class="col"><%=arrangement[i]['sum(count)']%></span>
                                    <span class="col"><%=arrangement[i]['sum(total_price)']%></span>
                                    <span class="icon-dot"></span>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--点位,最高占比 由 路由数据传递模板 执行，需要定期更新；同时 扇形图 由 js 发起 后端请求，并进行数据处理而获取；总部门数暂不安排-->
            <div class="point panel">
                <div class="inner">
                    <h3>各部门销量占比</h3>
                    <div class="chart">
                        <div class="pie"></div>
                        <div class="data">
                            <div class="item">
                                <h4><%=section[0]['ognization'].substring(0,2)%></h4>
                                <span>
                                    <i class="icon-dot" style="color: #ed3f35"></i>
                                    最高占比
                                </span>
                            </div>
                            <div class="item">
                                <h4>206</h4>
                                <span>
                                    <i class="icon-dot" style="color: #eacf19"></i>
                                    总部门数
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- 地图，8月期间已经调整完毕 -->
            <div class="map">
                <h3>
                    <span class="icon-cube"></span>
                    全国数据统计
                </h3>
                <div class="chart">
                    <div class="geo"></div>
                </div>
            </div>
            <!-- 用户 ，销售总额 与 最高额度 由 路由数据传递模板 执行，需要定期更新；柱状图数据 使用 扇形图处获取的后端数据，进行处理后获取-->
            <div class="users panel">
                <div class="inner">
                    <h3>全国销量统计</h3>
                    <div class="chart">
                        <div class="bar"></div>
                        <div class="data">
                            <div class="item">
                                <h4><%=(total['sum(total_price)']/100000000).toFixed(2)%>亿</h4>
                                <span>
                                    <i class="icon-dot" style="color: #ed3f35"></i>
                                    销售总额
                                </span>
                            </div>
                            <div class="item">
                                <h4><%=(section[0]['sum(total_price)']/100000000).toFixed(2)%>亿</h4>
                                <span>
                                    <i class="icon-dot" style="color: #eacf19"></i>
                                    最高额度
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="order panel">
                <div class="inner">
                    <!-- 筛选 ，数据源使用 路由数据传递模板 中的section-->
                    <!-- 实现逻辑，取出数组中一半的数据进行展示-->
                    <!-- 采用循环的方式，将序号传递给js端、取完整名字的前两位在前端进行展示-->
                    <!-- 后端的实现在后端具体说明-->
                    <div class="filter">
                        <% for(var i=0;i<section.length/2;i++){ %>
                        <a href="javascript:;" data-key=<%=i%> class="active">
                            <% if (section[i]['ognization']==="贵州南方乳业有限公司") {%>
                                <%='南方'%>
                            <% } else { %>
                                <%=section[i]['ognization'].substring(0,2)%>
                            <% } %>
                        </a>
                        <% } %>
                    </div>
                    <!-- 数据，接上面的内容，此处为默认展示的数据 -->
                    <div class="data">
                        <div class="item">
                            <h4>20,301,987</h4>
                            <span>
                                <i class="icon-dot" style="color: #ed3f35;"></i>
                                订单量
                            </span>
                        </div>
                        <div class="item">
                            <h4>99834</h4>
                            <span>
                                <i class="icon-dot" style="color: #eacf19;"></i>
                                销售额（元）
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 销售额，此处还未做具体的安排 -->
            <div class="sales panel">
                <div class="inner">
                    <div class="caption">
                        <h3>销售额统计</h3>
                        <a href="javascript:;" class="active" data-type="year">年</a>
                        <a href="javascript:;" data-type="quarter">季</a>
                        <a href="javascript:;" data-type="month">月</a>
                        <a href="javascript:;" data-type="week">周</a>
                    </div>
                    <div class="chart">
                        <div class="label">单位:元</div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <!-- 渠道，路由数据 传递 模板，使用channel对象 -->
            <div class="wrap">
                <div class="channel panel">
                    <div class="inner">
                        <h3>热点渠道</h3>
                        <div class="data">
                            <div class="item">
                                <h4><%=channel[0]['account'].toFixed(0)%> <small>%</small></h4>
                                <span>
                                    <i class="icon-cup2"></i>
                                    <%=channel[0]['type'].substring(0,3)%>
                                </span>
                            </div>
                            <div class="item">
                                <h4><%=channel[1]['account'].toFixed(0)%> <small>%</small></h4>
                                <span>
                                    <i class="icon-bag"></i>
                                    <%=channel[1]['type'].substring(1,3)%>
                                </span>
                            </div>
                        </div>
                        <div class="data">
                            <div class="item">
                                <h4><%=channel[2]['account'].toFixed(0)%> <small>%</small></h4>
                                <span>
                                    <i class="icon-cube"></i>
                                    <%=channel[2]['type'].substring(0,2)%>
                                </span>
                            </div>
                            <div class="item">
                                <h4><%=channel[3]['account'].toFixed(0)%> <small>%</small></h4>
                                <span>
                                    <i class="icon-bus"></i>
                                    <%=channel[3]['type'].substring(0,2)%>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 月度销售进度，百分比数据为手动调整，销售额为路由数据传递模板中的total对象 -->
                <!-- 进度条的调整在后端具体说明 -->
                <div class="quarter panel">
                    <div class="inner">
                        <h3>一月度销售进度</h3>
                        <div class="chart">
                            <div class="box">
                                <div class="gauge"></div>
                                <div class="label">100<small> %</small></div>
                            </div>
                            <div class="data">
                                <div class="item">
                                    <h4><%=(total['sum(total_price)']/100000000).toFixed(2)%>亿</h4>
                                    <span>
                                        <i class="icon-dot" style="color: #6acca3"></i>
                                        销售额
                                    </span>
                                </div>
                                <div class="item">
                                    <h4>1亿</h4>
                                    <span>
                                        <i class="icon-dot" style="color: #f6bb3a"></i>
                                        目标额
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 排行榜 前端预设取 路由数据对象milk的前三位数据，展示最畅销的三种牛奶 -->
            <!-- 对应地区与对应六种牛奶显示 由后端具体说明 -->
            <div class="top panel">
                <div class="inner">
                    <div class="all">
                        <h3>全省热榜</h3>
                        <ul>
                            <li class="milk">
                                <i class="icon-cup1" style="color: #d93f36;"></i>
                                <%=milk[0]['good_name'].substring(2)%>
                            </li>
                            <li class="milk">
                                <i class="icon-cup2" style="color: #68d8fe;"></i>
                                <%=milk[1]['good_name']%>
                            </li>
                            <li class="milk">
                                <i class="icon-cup3" style="color: #4c9bfd;"></i>
                                <%=milk[2]['good_name'].substring(2)%>
                            </li>
                        </ul>
                    </div>
                    <div class="province">
                        <h3>各市热销 <i class="date">------ 近30日 ------</i></h3>
                        <div class="data">
                            <ul class="sup">
                            </ul>
                            <ul class="sub">
                                <!-- <li><span>数据</span><span> 数据<s class="icon-up"></s></span></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/echarts.min.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/china.js"></script>
<script src="/javascripts/mymap.js"></script>

</html>